body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-image: url('bg.svg');
   background-color: darkcyan;
   background-size: cover;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.kiri, .kanan {
   width: 10vw;
   height: 10vh;
   position: absolute;
   top: 23%;
}

.kiri { left: 35%; }
.kanan { right: 35%; }

#selatan, #timur, #barat, #utara {
   height: 10rem;
   position: relative;
}

#selatan, #timur { top: 30vh; }

.simulator, #timer {
   z-index: 2;
   position: absolute;
   top: 55vh;
   left: 47.5vw;
   width: 5vw;
   height: 5vh;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-weight: bold;
}

#timer {
   font-family: 'Orbitron', sans-serif;
   top: 62vh;
   font-size: 1.5rem;
}

#simulasi, #Esimulasi {
   border-radius: 5px;
   padding: 5px 10px;
   margin: 5px;
   cursor: pointer;
}

#horizontal-road {
   position: absolute;
   z-index: 1;
   top: 45vh;
   width: 100%;
   height: 200px;
}

#vertical-road {
   position: absolute;
   z-index: 1;
   left: 91.5vh;
   height: 100%;
   width: 200px;
}

.mobil{
   z-index: 1;
   width: 15vh;
   position: relative;
}

#mobil-barat{
   float: left;
   left: -104px;
   transform: rotate(90deg);
}

#mobil-timur{
   float: right;
   right: -104px;
   top: 100px;
   transform: rotate(270deg);
}

#mobil-utara{
   top: -104px;
   left: 90px;
   transform: rotate(180deg);
}

#mobil-selatan{
   top: 612px;
}
